In [1]:
import pandas as pd
import psycopg2
import requests
import json
import numpy as np

In [2]:
# Insert query
q_ct_business_insert = """
INSERT INTO ct_business (
    credentialid,
    name,
    type,
    fullcredentialcode,
    credentialtype,
    credentialnumber,
    credential,
    status,
    active,
    issuedate,
    effectivedate,
    expirationdate,
    address,
    city,
    state,
    zip,
    recordrefreshedon,
    statusreason,
    businessname,
    credentialsubcategory,
    dba
)

VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (credentialid) DO NOTHING;
"""

In [3]:
# Get data
response = requests.get("https://data.ct.gov/resource/ngch-56tr.json")

In [4]:
response_json = response.json()

In [5]:
# Save data in .txt file in order to not hit the endpoint repeatedly
with open("data.txt", 'w') as file:
    json.dump(response_json, file)

In [6]:
df = pd.read_json('data.txt')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   credentialid           1000 non-null   int64
 1   name                   1000 non-null   object
 2   type                   1000 non-null   object
 3   fullcredentialcode     1000 non-null   object
 4   credentialtype         1000 non-null   object
 5   credentialnumber       996 non-null    object
 6   credential             1000 non-null   object
 7   status                 1000 non-null   object
 8   active                 1000 non-null   int64
 9   issuedate              988 non-null    object
 10  effectivedate          986 non-null    object
 11  expirationdate         983 non-null    object
 12  address                1000 non-null   object
 13  city                   1000 non-null   object
 14  state                  996 non-null    object
 15  zip                    995 non-null    float64
 16  recordrefreshedon      1000 non-null   object
 17  statusreason           475 non-null    object
 18  businessname           99 non-null     object
 19  credentialsubcategory  86 non-null     object
 20  dba                    29 non-null     object
dtypes: float64(1), int64(2), object(18)
memory usage: 164.2+ KB

In [8]:
df.head()

,credentialid,name,type,fullcredentialcode,credentialtype,credentialnumber,credential,status,active,issuedate,...,expirationdate,address,city,state,zip,recordrefreshedon,statusreason,businessname,credentialsubcategory,dba
0,1000664,FADEL BALAWI,INDIVIDUAL,CSP.0050262,CSP,50262,CONTROLLED SUBSTANCE REGISTRATION FOR PRACTITI...,INACTIVE,0,2011-06-07T00:00:00.000,...,2023-02-28T00:00:00.000,111 AYRSHIRE LN,AVON,CT,60012101.0,2023-08-15T00:00:00.000,NaN,NaN,NaN,NaN
1,2027327,WAYNE CARTER,INDIVIDUAL,CASE.0993725,CASE,993725,CASINO CLASS I EMPLOYEE,ACTIVE,1,1995-04-26T00:00:00.000,...,2023-10-31T00:00:00.000,62 Canterbury Rd,Mystic,CT,6355.0,2022-11-03T00:00:00.000,NaN,NaN,NaN,NaN
2,2027328,SODARA CHAN,INDIVIDUAL,CASE.0993303,CASE,993303,CASINO CLASS I EMPLOYEE,ACTIVE,1,1993-10-19T00:00:00.000,...,2023-10-31T00:00:00.000,58 Kenyon Rd.,Waterford,CT,6385.0,2022-11-03T00:00:00.000,NaN,NaN,NaN,NaN
3,1000163,JAYNE SCHORN-GOTTSCHALK,INDIVIDUAL,27.001538,27,1538,Marital and Family Therapist,ACTIVE,1,2012-08-01T00:00:00.000,...,2024-08-31T00:00:00.000,500 Post Road East,Westport,CT,6880.0,2023-07-06T00:00:00.000,CURRENT,NaN,NaN,NaN
4,1000830,SUZANNA M SMALDONE,INDIVIDUAL,10.102261,10,102261,Registered Nurse,ACTIVE,1,2011-09-15T00:00:00.000,...,2024-09-30T00:00:00.000,80 Peacock Drive,Stratford,CT,6614.0,2023-09-18T00:00:00.000,CURRENT,NaN,NaN,NaN

In [9]:
single_business = list(df.loc[0,].values)

In [10]:
# Print out the single business
single_business

[1000664,
 'FADEL BALAWI',
 'INDIVIDUAL',
 'CSP.0050262',
 'CSP',
 '50262',
 'CONTROLLED SUBSTANCE REGISTRATION FOR PRACTITIONER',
 'INACTIVE',
 0,
 '2011-06-07T00:00:00.000',
 '2021-03-01T00:00:00.000',
 '2023-02-28T00:00:00.000',
 '111 AYRSHIRE LN',
 'AVON',
 'CT',
 60012101.0,
 '2023-08-15T00:00:00.000',
 nan,
 nan,
 nan,
 nan]

In [11]:
# Convert numpy integers to Postgres compatible integers
single_business_converted_int = [int(value) if isinstance(value, np.int64) else value for value in single_business]

In [12]:
# Check data types by printing a tuple of each item in the list
[(item, type(item)) for item in single_business_converted_int]

[(1000664, int),
 ('FADEL BALAWI', str),
 ('INDIVIDUAL', str),
 ('CSP.0050262', str),
 ('CSP', str),
 ('50262', str),
 ('CONTROLLED SUBSTANCE REGISTRATION FOR PRACTITIONER', str),
 ('INACTIVE', str),
 (0, int),
 ('2011-06-07T00:00:00.000', str),
 ('2021-03-01T00:00:00.000', str),
 ('2023-02-28T00:00:00.000', str),
 ('111 AYRSHIRE LN', str),
 ('AVON', str),
 ('CT', str),
 (60012101.0, numpy.float64),
 ('2023-08-15T00:00:00.000', str),
 (nan, float),
 (nan, float),
 (nan, float),
 (nan, float)]

## Insert one value into the database

In [13]:
# Connect to database
conn = psycopg2.connect("host=127.0.0.1 dbname=ct_business_db user=postgres password=Summer2024@")
conn.set_session(autocommit=True)

# Create cursor
cur = conn.cursor()
cur.execute(q_ct_business_insert, single_business_converted_int)

In [15]:
cur.execute("""SELECT * FROM ct_business""")
rows = cur.fetchall()
for row in rows:
    print(row)

(1000664, 'FADEL BALAWI', 'INDIVIDUAL', 'CSP.0050262', 'CSP', '50262', 'CONTROLLED SUBSTANCE REGISTRATION FOR PRACTITIONER', 'INACTIVE', 0, '2011-06-07T00:00:00.000', '2021-03-01T00:00:00.000', '2023-02-28T00:00:00.000', '111 AYRSHIRE LN', 'AVON', 'CT', '60012101.0', '2023-08-15T00:00:00.000', 'NaN', 'NaN', 'NaN', 'NaN')

In [16]:
conn.close()